@{
    ViewBag.Title = "Geslaagd!";
    Layout = "../Master.cshtml";
}

<section class="site-hero site-hero-innerpage" style="background-image: url('../../Assets/img/header-bg.jpg')">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <img href="#" src="~/Assets/img/content/Geslaagd.png" style="padding-top: 50px; max-width: 35%" class="img-responsive img-circle" alt="" height="">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">GEFELICITEERD JE PARTYCRUISE IS GEBOEKT!</h2>
                <h2>JE BETALING IS GESLAAGD!</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">JE INSCHRIJVING WORDT MOMENTEEL BEOORDEELD, BINNEN 3 DAGEN ONTVANG JE EEN MAIL TER BEVESTIGING</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Index","Home")">TERUG NAAR DE WEBSITE</a>
            </div>
        </div>
    </div>
</div>
