@{
    ViewBag.Title = "Mislukt";
    Layout = "../Master.cshtml";
}

<section class="site-hero site-hero-innerpage" style="background-image: url('../../Assets/img/header-bg.jpg')">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                    <img href="#" src="~/Assets/img/content/Mislukt.png" style="padding-top: 50px; max-width: 35%" class="img-responsive img-circle" alt="" height="">
                </div>

            </div>
        </div>
    </div>
</section>
<div class="page-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">HELAAS, UW BETALING IS MISLUKT..</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">JE BETALING IS NIET GELUKT, PROBEER HET <a href="@Url.Action("Index","Registration")">OPNIEUW. </a></h3>
                <h3>INDIEN HET PROBLEEM ZICH VOORT BLIJFT DOEN NEEM DAN <A HREF="mailto:dnduikboot@gmail.com?SUBJECT=Inschrijving_mislukt">CONTACT</A> OP MET CV D'N DUIKBOOT.</h3>
            </div>
        </div>
    </div>
</div>
