@{
    ViewBag.Title = "Mislukt";
    Layout = "../Master.cshtml";
}

<div class="page-container">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="team-member">
                    <img href="#" src="~/Assets/img/content/Mislukt.png" class="img-responsive img-circle" alt="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">BETALING MISLUKT..</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">JE BETALING IS NIET GELUKT, NEEM CONTACT OP MET <A HREF="mailto:dnduikboot@gmail.com?SUBJECT=Inschrijving_mislukt">DN DUIKBOOT</A></h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="@Url.Action("Index","Registration")" class="page-scroll btn btn-default" id="btn-header">TERUG NAAR INSCHRIJVEN</a>
            </div>
        </div>

    </div>
</div>
