@{
    ViewBag.Title = "Inschrijven";
    Layout = "../Master.cshtml";
}
<section class="site-hero site-hero-innerpage" style="background-image: url('../../Assets/img/header-bg.jpg')">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->

<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Stel je partycruise samen!</h1>
                <p>Schrijf je nu in voor een geweldige partycruise langs verschillende prachtige bestemmingen!</p>
            </div>

            <div class="col-lg-12 element-animate">

                @using (Html.BeginForm("Submit", "Registration", FormMethod.Post))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="FirstName" name="FirstName" placeholder="Voornaam" class="form-control" required data-validation-required-message="Vul alsjeblieft je voornaam in.">
                            </div>
                            <div class="form-group">
                                <input type="text" id="SurName" name="SurName" placeholder="Achternaam" class="form-control" required data-validation-required-message="Vul alsjeblieft je achternaam in.">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" id="Email" name="Email" placeholder="Email" class="form-control" required data-validation-required-message="Vul alsjeblieft je e-mailadres in.">
                            </div>
                            <div class="form-group">
                                <input type="tel" id="PhoneNumber" name="PhoneNumber" placeholder="Telefoonnummer" class="form-control" oninvalid="this.setCustomValidity('Vul je telefoonnummer in.')" oninput="setCustomValidity('')">
                            </div>
                        </div>
                    </div>

                    <div class="checkbox-group">
                        <div class="checkbox zaterdag form-group">
                            <label>
                                <input type="checkbox" class="price-checkbox" id="zaterdag" name="zaterdag" value="40">
                                <input type="hidden" name="zaterdag" value="false" />
                                Zaterdag 10 FEB. €40,-
                            </label>
                            <table>
                                <tr>
                                    <td>OPTOCHT BIEZENMORTEL</td>
                                </tr>
                                <tr>
                                    <td>HET LALLEBAL! BIEZENMORTEL (NIEUW)</td>
                                </tr>
                            </table>
                            <span class="pull-right" price="">€40,-</span>
                            <hr />
                        </div>

                        <div class="checkbox zondag form-group">
                            <label>
                                <input type="checkbox" class="price-checkbox" id="zondag" name="zondag" value="50">
                                <input type="hidden" name="zondag" value="false" />
                                Zondag 11 FEB. €50,-
                            </label>
                            <table>
                                <tr>
                                    <td>KOFFIECONCERT GOMMELEN</td>
                                </tr>
                                <tr>
                                    <td>OPTOCHT UDENHOUT </td>
                                </tr>
                                <tr>
                                    <td>MEGA OUTDOOR CARNAVALS PARTY! UDENHOUT (INCL TICKET)</td>
                                </tr>
                            </table>
                            <span class="pull-right price">€50,-</span>
                            <hr />
                        </div>

                        <div class="checkbox maandag form-group">
                            <label>
                                <input type="checkbox" class="price-checkbox" id="maandag" name="maandag" value="45">
                                <input type="hidden" name="maandag" value="false" />
                                MAANDAG 12 FEB. €45,-
                            </label>
                            <table>
                                <tr>
                                    <td>OPTOCHT LOON OP ZAND</td>
                                </tr>
                                <tr>
                                    <td>LOS IN LOON!</td>
                                </tr>
                                <tr>
                                    <td>ROEIEN OF VERZUIPEN!</td>
                                </tr>
                            </table>
                            <span class="pull-right price">€45,-</span>
                            <hr />
                        </div>

                        <div class="checkbox dinsdag form-group">
                            <label>
                                <input type="checkbox" class="price-checkbox" id="dinsdag" name="dinsdag" value="30">
                                <input type="hidden" name="dinsdag" value="false" />
                                DINSDAG 13 FEB. €30,-
                            </label>
                            <table>
                                <tr>
                                    <td>ONBEKENDE BESTEMMING</td>
                                </tr>
                                <tr>
                                    <td>LICHTJESTOCHT BIEZENMORTEL</td>
                                </tr>
                            </table>
                            <span class="pull-right price">€30,-</span>
                            <hr />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 form-group pull-right">
                            <input type="hidden" value="10000" name="amount" id="amount" class="price-value" />
                            <span class="pull-right price-total">UW TOTAAL: € 0,-</span>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-lg-12 form-group">
                            <span class="text-center"><input type="checkbox" id="rules" name="rules" required> Ik ga akkoord met de <a href="~/Assets/documents/Huisregels_carnaval_2019.pdf" target="_blank">algemene voorwaarden </a></span>
                        </div>
                    </div>

                    <div class="row text-center">
                        <div class="col-lg-12 form-group">
                            <input type="submit" value="Inschrijven" id="registerForm__submit" class="btn btn-primary btn-submit-register">
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<script type="text/javascript">

    $(document).ready(function () {
        getAvailableDays();
        idleReload();

        //Check each day's availability, if the day is sold out
        //Disable checkbox and prepend ("UITVERKOCHT ")
        function getAvailableDays() {
            $.ajax({
                url: "@Url.Action("GetAvailability", "Registration",null,this.Request.Url.Scheme)",
                success: function (data) {
                    console.log(data);
                    checkIfSoldOut(data);
                }
            });
        }

        function checkIfSoldOut(data) {
            console.log(data);
            $.each(data,
                function (k, v) {
                    if (v == true) {
                        var capitalizedDay = k.capitalize();
                        $("#" + k + "").prop('disabled', 'disabled');
                        $("." + k + " > label").text(capitalizedDay + " - UITVERKOCHT").css("color", "red");
                    }
                });
        }

        function idleReload() {
            var t;
            window.onload = resetTimer;
            // DOM Events
            document.onload = resetTimer;
            document.onmousemove = resetTimer;
            document.onmousedown = resetTimer; // touchscreen presses
            document.ontouchstart = resetTimer;
            document.onclick = resetTimer;     // touchpad clicks
            document.onscroll = resetTimer;    // scrolling with arrow keys
            document.onkeypress = resetTimer;

            function logout() {
                if(!alert('Je bent te lang inactief. Herlaad de pagina.')){window.location.reload();}
            }

            function resetTimer() {
                clearTimeout(t);
                t = setTimeout(logout, 1200000);
                // 1000 milisec = 1 sec
                // 1.200.000 milisec = 20 minutes
            }
        };

        String.prototype.capitalize = function () {
            return this.charAt(0).toUpperCase() + this.slice(1);
        }

        $('form').trigger("reset");
        price = 0;

        $('.price-checkbox').change(function () {
            if ($(this).is(':checked')) {
                price = +price + +this["value"];
                console.log(price);
                $(".price-value").val(price);

            } else {
                price = +price - +this["value"];
                $(".price-value").val(price);
                console.log($(".price-value").val());
            }

            $(".price-total").empty();
            $(".price-total").html('<span class="pull-right price-total">UW TOTAAL: €' + price + ',- </span>');

        });

        var verifyAtLeastOneCheckboxIsPressed = function () {
            var checkboxes = $('.checkbox-group .checkbox');
            var inputs = checkboxes.find('input');
            var first = inputs.first()[0];

            inputs.on('change',
                function () {
                    this.setCustomValidity('');
                });

            first.setCustomValidity(checkboxes.find('input:checked').length === 0
                ? 'Selecteer tenminste één dag om mee te rijden'
                : '');
        }

        $('#registerForm__submit').click(verifyAtLeastOneCheckboxIsPressed);

        $("form").submit(function (event) {
            $(".price-value").val(price);
            return;
        });
    });
</script>