@{
    ViewBag.Title = "Inschrijven";
    Layout = "../Master.cshtml";
}
<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../Assets/img/header-bg.jpg')">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                </div>

            </div>
        </div>
    </div>
</section>
<!-- END section -->
<section class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Inschrijven!</h1>
                <p>Schrijf je nu in voor een geweldige partycruise langs verschillende prachtige bestemmingen!</p>
            </div>

            <div class="col-lg-12 element-animate">

                @using (Html.BeginForm("Submit", "Registration", FormMethod.Post))
                {

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="FirstName" name="FirstName" placeholder="Voornaam" class="form-control" required data-validation-required-message="Vul alsjeblieft je voornaam in.">
                            </div>
                            <div class="form-group">
                                <input type="text" id="SurName" name="SurName" placeholder="Achternaam" class="form-control" required data-validation-required-message="Vul alsjeblieft je achternaam in.">

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" id="Email" name="Email" placeholder="Email" class="form-control" required data-validation-required-message="Vul alsjeblieft je e-mailadres in.">

                            </div>
                            <div class="form-group">
                                <input type="tel" id="PhoneNumber" name="PhoneNumber" placeholder="Telefoonnummer" class="form-control" required data-validation-required-message="Vul je telefoonnummer in.">
                            </div>
                        </div>
                    </div>

                    <div class="checkbox zaterdag">
                        <label>
                            <input type="checkbox" id="zaterdag" name="zaterdag" value="45">
                            <input type="hidden" name="zaterdag" value="false" />
                            Zaterdag 10 FEB. €45,-
                        </label>
                        <table>
                            <tr>
                                <td>Overdag €20,- OPTOCHT BIEZENMORTEL</td>
                            </tr>
                            <tr>
                                <td>Avond €25,- BERKEL BEEFT INCL TICKET</td>
                            </tr>
                        </table>
                        <span class="pull-right" price="">€45</span>
                        <hr />
                    </div>

                    <div class="checkbox zondag">
                        <label>
                            <input type="checkbox" id="zondag" name="zondag" value="40">
                            <input type="hidden" name="zondag" value="false" />
                            Zondag 11 FEB. €40,-
                        </label>
                        <table>
                            <tr>
                                <td>Overdag €20,- KOFFIECONCERT GOMMELEN OPTOCHT UDENHOUT </td>
                            </tr>
                            <tr>
                                <td>Avond €20,- OLD SCHOOL CARNAVALS PARTY UDENHOUT (INCL TICKET)</td>
                            </tr>
                        </table>
                        <span class="pull-right price">€40,-</span>
                        <hr />
                    </div>

                    <div class="checkbox maandag">
                        <label>
                            <input type="checkbox" id="maandag" name="maandag" value="40">
                            <input type="hidden" name="maandag" value="false" />
                            MAANDAG 12 FEB. €40,-
                        </label>
                        <table>
                            <tr>
                                <td>Overdag €20,- VERVOER EN OPTOCHT LOON OP ZAND</td>
                            </tr>
                            <tr>
                                <td>Avond €20,- LOS IN LOON</td>
                            </tr>
                        </table>
                        <span class="pull-right price">€40,-</span>
                        <hr />
                    </div>

                    <div class="checkbox dinsdag">
                        <label>
                            <input type="checkbox" id="dinsdag" name="dinsdag" value="30">
                            <input type="hidden" name="dinsdag" value="false" />
                            DINSDAG 13 FEB. €30,-
                        </label>
                        <table>
                            <tr>
                                <td>Overdag €20,- DWEILTOUR</td>
                            </tr>
                            <tr>
                                <td>Avond €10,- LICHTJESOPTOCHT</td>
                            </tr>
                        </table>
                        <span class="pull-right price">€30,-</span>
                        <hr />
                    </div>
                    <input type="hidden" value="10000" name="amount" id="amount" class="price-value" />
                    <span class="pull-right price-total">UW TOTAAL: </span>
                    <div class="row">
                        <p class="text-center">Ik ga akkoord met de <a href="~/Content/documents/Huisregels_Carnaval_2018.pdf">algemene voorwaarden </a></p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input type="submit" value="Verzenden" id="registerForm__submit" class="btn btn-primary">
                        </div>
                    </div>


                }

            </div>
        </div>
    </div>
</section>