@font-face {
    font-family: "BebasNeue";
    src: url('../fonts/BebasNeue-Regular.ttf')
}


.planning-mobile {
    display: none
}

.planning-desktop {
    display: block;
}

body {
    font-family: BebasNeue !important;
    font-size: large;
}

.facebook-photos {
    padding-top: 32px !important;
    padding-bottom: 40px !important;
}

.section-heading {
    padding-top: 60px;
}

.btn-register {
    font-size: 1.5rem;
    margin-top: 60px;
    background-color: #484848;
    border-color: #2f2f2f;
    margin-bottom: 80px;
}

.btn.register:hover {
    background: #484848 !important;
    border-color: #2f2f2f !important;
}

.btn-submit-register {
    font-size: 1.5rem;
    background-color: #484848;
    border-color: #2f2f2f;
}

    .btn-submit-register:hover {
        background: #484848 !important;
        border-color: #2f2f2f !important;
    }

.destinations {
    margin-bottom: 20px;
}

@media(max-width: 480px) {
    .site-hero {
        background-image: url('../../Assets/img/website-header-mobiel.jpg') !important;
    }

    .planning-desktop {
        display: none
    }

    .planning-mobile {
        display: block;
    }

    .img-bg {
        max-width: 100%;
    }
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    margin: 0 auto !important;
}

.sponsors_div {
    padding-bottom: 40px;
}

header .navbar {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.6) !important;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}

.feature-destination, .slider-wrap {
    margin-top: -20px;
    margin-bottom: 0;
    padding-bottom: 50px;
    z-index: 0 !important;
}

nav .navbar-nav li a {
    color: white !important;
}

nav .navbar-nav:hover li a:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

#footer {
    padding-bottom: 30px !important;
}
