@{
    Layout = "~/Views/Master.cshtml";
}


<section class="site-hero site-hero-innerpage overlay" data-stellar-background-ratio="0.5" style="background-image: url('../../Assets/img/header-bg.jpg')">
    <div class="container">
        <div class="row align-items-center site-hero-inner justify-content-center">
            <div class="col-md-8 text-center">
                <div class="mb-5 element-animate">
                </div>

            </div>
        </div>
    </div>
</section>


<section id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">
                    Carnaval is weer officieel begonnen en dit jaar staat in het teken van Duikboot's Partycruise!
                </h2>

                <h2 class="section-heading">
                    Deze prachtige 4-daagse alcohol-inclusive cruise zal vanouds gevuld zijn met maximaal feest, grootse gezelligheid,
                    leipe carnavalsplaten en een uitbarsting van confetti!
                </h2>

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Onze beste stuurman zal aanmeren bij de meest indrukwekkende party bestemmingen,
                        waar u zult genieten van de vetste acts en de heerlijke carnavalssfeer!
                        Tijdens deze cruise zullen onze topchefs u verwennen met een overvloed aan karakteristieke bieren en de meest exclusieve wijnen.
                        Aangevuld met een heerlijke delicatesse van deeg en worst!
                    </h2>
                </div>

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">
                        Een onvergetelijke reis die je absoluut niet kunt missen!
                        Stap aan boord van Duikboot’s partycruise en ervaar deze 4 dagen van maximale gekte!
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <a href="@Url.Action("Index","Registration")" class="btn btn-primary btn-register" id="btn-header">Boek nu de reis van je dromen!</a>
            </div>
        </div>
    </div>
</section>


<section id="bestemmingen" class="feature-destination">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center destinations">
                <h2 class="section-heading">
                    Check onze partybestemmingen...!
                </h2>
            </div>
        </div>
        <!-- TODO: Andere afbeeldigen-->
        <div class="row">
            <div class="col-lg-3 col-md-6 element-animate ">
                <a href="https://www.facebook.com/dnduikboot" target="_blank" class="img-bg" style="background-image: url(../../Assets/img/destinations/Lallebal.png)">
                    <div class="text">
                        <span class="icon ion-ios-location"></span>
                        <h2>Biezenmortel</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 element-animate ">
                <a href="https://www.facebook.com/events/475712999598176/" target="_blank" class="img-bg" style="background-image: url(../../Assets/img/destinations/MOCP.jpg)">
                    <div class="text">
                        <span class="icon ion-ios-location"></span>
                        <h2>Udenhout</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 element-animate ">
                <a href="https://www.facebook.com/events/489938084818413/" target="_blank" class="img-bg last" style="background-image: url(../../Assets/img/destinations/LOS_in_Loon.jpg)">
                    <div class="text">
                        <span class="icon ion-ios-location"></span>
                        <h2>Loon op Zand</h2>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 element-animate ">
                <a href="https://www.facebook.com/dnduikboot/" target="_blank" class="img-bg last" style="background-image: url(../../Assets/img/destinations/Roeien_of_verzuipen.png)">
                    <div class="text">
                        <span class="icon ion-ios-location"></span>
                        <h2>Biezenmortel</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END section -->
<!-- Planning Section -->
<section id="planning">
    <a href="~/Assets/img/planning.jpg" target="_blank" class="center-fit planning-desktop element-animate">
        <img class="img-responsive " src="~/Assets/img/planning.jpg" style="max-width: 100%">
    </a>
    <a href="~/Assets/img/planning-mobiel.jpg" target="_blank" class="planning-mobile element-animate">
        <img class="img-responsive " src="~/Assets/img/planning-mobiel.jpg" style="max-width: 100%">
    </a>
</section>

<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hoofdsponsoren</h2>
            </div>
        </div>
        <div class="row element-animate col-lg-12 sponsors_div">
            <div class="col-md-4 col-sm-6">
                <a href="http://www.verhuur-licht-geluid.nl/" target="_blank">
                    <img src="~/Assets/img/logos/Woox.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://www.boomrooierijweijtmans.nl/home/" target="_blank">
                    <img src="~/Assets/img/logos/Weijtmans.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="https://tifavandepas.nl/" target="_blank">
                    <img src="~/Assets/img/logos/Van_de_Pas.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section> 